* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

ul {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  max-width: 306px;
  margin: 10px auto;
}

li {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  margin-left: -1px;
  margin-top: -1px;
  border: 1px solid #000;
}

li:hover {
  border-color: red;
  z-index: 2;
}