<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <script>
        const bifurcate = (arr, filter) =>
            arr.reduce((acc, val, i) => (acc[filter[i] ? 0 : 1].push(val), acc), [
                [],
                []
            ]);

        var users = [{
            id: 1,
            name: "a"
        }, {
            id: 2,
            name: "a"
        }, {
            id: 3,
            name: "b"
        }, {
            id: 4,
            name: "v"
        }]

        Array.prototype.unique = function () {
            return this.reduce((acc,item) => {
                acc.push(item.name)
                return [...new Set(acc)]
            },[])
        }
    </script>
</body>

</html>