<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>flex布局多个子元素如何既有左对齐也有右对齐</title>
  <style>
    body {
      width: 800px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #000;
    }

    .flex-box {
      display: flex;
      justify-content: space-between;
    }

    .flex-item {
      width: 100px;
      height: 100px;
      border: 1px solid #000;
    }

    .center {
      flex: 1;
    }
  </style>
</head>

<body>
  <div class="flex-box">
    <div class="flex-box flex-item">
      <div class="flex-item">1</div>
      <div class="flex-item">4</div>
    </div>
    <div class="flex-item center">2</div>
    <div class="flex-item">3</div>
  </div>
</body>

</html>