<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
  .wrap{
    display: flex;
    /* width: 1080px; */
    height: 300px;
    /* position: absolute; */
    border: 1px solid #eee;
  }
  .inner{
    align-self: flex-end;
    width: 1080px;
    height: 100px;
    background: #aaa;
    /* position: absolute;
    bottom: 0 */
  }
  </style>
</head>
<body>
  <div class="wrap">
    <div class="inner"></div>
  </div>
</body>
</html>